SUPABASE_URL=https://ocuxskliwtdldqhnhcpx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jdXhza2xpd3RkbGRxaG5oY3B4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDQ2MTYsImV4cCI6MjA5MTMyMDYxNn0.lfp_Uoe3DhRM6msOx7wb7vlxF7Vezr8K0MaXFXsvtIE
